extends layout

block content
	body(ng-controller="AppCtrl", layout="column", style="width:100%")
		md-toolbar(layout="row")
				button.menuBtn(ng-click="toggleSidenav('left')")
					span
				h1(class="md-toolbar-tools", layout-align-gt-sm="center") Utopical : tweet classification

		div(layout="row", flex)
			include sidenav.jade
			include tweet_display.jade

		script(type="text/javascript").
			var app = angular.module('StarterApp', ['ngMaterial']);
			app.controller('AppCtrl', ['$scope', '$mdSidenav', '$mdDialog', function($scope, $mdSidenav, $mdDialog){
				$scope.toggleSidenav = function(menuId) {
					$mdSidenav(menuId).toggle();
				};
				$scope.fakefunction = function(){
					alert("yp");
				};
				var alert;
				$scope.showAlert = showAlert;
				$scope.hasAlert = function() { return !!alert };
				$scope.userName = $scope.userName || 'Bobby';
				// Dialog #1 - Show simple alert dialog and cache
				// reference to dialog instance
				function showAlert() {
					alert = $mdDialog.alert()
						.title('Attention, ' + $scope.userName)
						.content('This is an example of how easy dialogs can be!')
						.ok('Close');
					$mdDialog
						.show( alert )
						.finally(function() {
							alert = undefined;
						});
				}
			}]);




