extends layout

block content
	body(ng-controller="AppCtrl", layout="column", style="width:100%")
		md-toolbar(layout="row")
				button.menuBtn(ng-click="toggleSidenav('left')")
					span
				h1(class="md-toolbar-tools", layout-align-gt-sm="center") Utopical : tweet classification2

		div(layout="row", flex)
			include sidenav.jade
			include tweet_display.jade

		script(type="text/javascript").
			var app = angular.module('StarterApp', ['ngMaterial']);
			app.controller('AppCtrl', ['$scope', '$mdSidenav', '$mdDialog', '$location', '$window',
				function($scope, $mdSidenav, $mdDialog, $location, $window){
				$scope.toggleSidenav = function(menuId) {
					$mdSidenav(menuId).toggle();
				};
				$scope.fakefunction = function(){
					alert("yp");
				};
				var alert;
				$scope.showAlert = showAlert;
				$scope.hasAlert = function() { return !!alert };
				$scope.userName = $scope.userName || 'Bobby';
				// Dialog #1 - Show simple alert dialog and cache
				// reference to dialog instance
				function showAlert() {
					alert = $mdDialog.alert()
						.title('Attention, ' + $scope.userName)
						.content('This is an example of how easy dialogs can be!')
						.ok('Close');
					$mdDialog
						.show( alert )
						.finally(function() {
							alert = undefined;
						});
				}
				
				
				$scope.items = [1, 2, 3];
				$scope.showDialog = function($event) {
					 var parentEl = angular.element(document.body);
					 $mdDialog.show({
						parent: parentEl,
						targetEvent: $event,
						//- template:
						//-   '<md-dialog aria-label="List dialog">' +
						//-   '  <md-content>'+
						//-   '	 <md-list>'+
						//-   '		<md-item ng-repeat="item in items">'+
						//-   '		 <p>Number {{item}}</p>' +
						//-   '		</md-item>'+
						//-   '	 </md-list>'+
						//-   '  </md-content>' +
						//-   '  <div class="md-actions">' +
						//-   '	 <md-button ng-click="closeDialog()">' +
						//-   '		Close Dialog' +
						//-   '	 </md-button>' +
						//-   '  </div>' +
						//-   '</md-dialog>',
						templateUrl:"dialog_template.html",
						locals: {
						  items: $scope.items
						},
						controller: DialogController
					});
					function DialogController(scope, $mdDialog, items) {
					  scope.items = items;
					  scope.closeDialog = function() {
						 $mdDialog.hide();
					  }
					}
				 }


				$scope.go = function ( path ) {
					$window.location.assign(path );
				};
			}]);




