md-sidenav(layout="column", class="md-sidenav-left md-whiteframe-z2", md-component-id="left", md-is-locked-open="false")
	md-toolbar.md-theme-indigo
		h1.md-toolbar-tools Menu
	md-content
		md-list
			md-subheader Management
			md-item
				md-item-content(md-ink-ripple, layout="row", layout-align="start center", ng-click="go('logout')")
					div.inset
						img(src="icons/exit.svg")
					div.inset.
						Log out
			md-item
				md-item-content(md-ink-ripple, layout="row", layout-align="start center")
					div.inset
						img(src="icons/sync.svg")
					div.inset.
						Synchronize last tweets
			md-divider
			md-subheader Misc
			md-item
				md-item-content(md-ink-ripple, layout="row", layout-align="start center", ng-click="showDialog($event)")
					div.inset
						img(src="icons/settings.svg")
					div.inset.
						How does it work?
				md-item-content(md-ink-ripple, layout="row", layout-align="start center", ng-click="showAlert()")
					div.inset
						img(src="icons/assignement.svg")
					div.inset.
						Credits
			md-item
				md-item-content(md-ink-ripple, layout="row", layout-align="start center")
					div.inset
						img(src="icons/info.svg")
					div.inset.
						License
			md-divider